.btn button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button img {
  margin-right: 10px;
}

.primary-btn,
.secondary-btn,
.green-btn,
.blue-btn {
  border: none;
  border-radius: 12px;
  width: 320px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.primary-btn {
  background: linear-gradient(to left, #1083ad, #08c4c4);
}

.primary-btn:hover,
.secondary-btn:hover,
.blue-btn:hover,
.green-btn:hover {
  opacity: 0.75;
}

.secondary-btn {
  background-color: #08c4c4;
}

.green-btn {
  background-color: #07ba88;
}

.blue-btn {
  background-color: #0860c4;
}
