.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard h3 {
  font-family: "Englebert", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-top: 90px;
  color: #072cba;
}

.dashboard a {
  margin-bottom: 160px;
}
