.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 30px 0;
  width: 215px;
  height: 195px;
}

.home h2 {
  color: #072cba;
  text-shadow: 0px 4px 4px #0000002b;
  width: 300px;
  text-align: center;
  font-size: 24px;
  font-family: "Alice", serif;
  margin-bottom: 50px;
}
