/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/about-me/about-me.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about-me_aboutMe__C4LRh {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.about-me_h1__3k5rC {
  font-family: "Englebert", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 20px;
  color: #072cba;
  text-align: center;
  line-height: 1.3;
}

.about-me_text__AuL2G {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.3;
  margin: 0 10px;
}

.about-me_img__8CASN {
  width: 320px;
  height: 400px;
  margin: 10px;
}

.about-me_aboutMe__C4LRh p {
  font-size: 16px;
  font-family: "Poppins", "sans-serif";
  line-height: 1.5;
  margin: 5px;
}

