/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/about/about.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.about_aboutMe__hnIML {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.about_h1__K5jxF {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.3;
}
.about_img__FODkk {
  width: 320px;
  height: 400px;
  padding: 10px;
  margin: 0 20px;
}

.about_text__NHWlE {
  width: 320px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  line-height: 1.3;
  margin: 0 15px 80px;
}

.about_text__NHWlE p {
  text-align: center;
  font-size: 16px;
  font-family: var(--font-poppins);
  line-height: 1.5;
  margin: 5px;
}

