/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/doctors/doctors.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.doctors_navbar__efghS {
  background-color: var(--color-light-green);
  width: 90%;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px 10px;
}

.doctors_navbar__efghS h1 {
  text-align: center;
}

.doctors_icons__ZKLZx {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  margin: 30px auto 10px;
}

.doctors_icon__9r1FP {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

