.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.login h3 {
  margin: 40px 0;
  color: var(--color-primary);
  font-size: 24px;
}

.login form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login input {
  margin-bottom: 20px;
}

.login p {
  font-size: 14px;
  color: var(--color-primary);
  margin-bottom: 60px;
}

.login p a {
  font-weight: bold;
}

.reset {
  font-size: 16px;
  color: #072cba;
  margin-bottom: 60px;
  cursor: pointer;
}
