.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login h1 {
  margin-top: 70px;
  margin-bottom: 20px;
}

.login span {
  margin-bottom: 70px;
  color: var(--color-primary);
}

.login form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login input {
  margin-bottom: 20px;
}

.login p {
  font-size: 14px;
  font-family: var(--font-poppins);
  color: var(--color-primary);
  margin-bottom: 60px;
}

.login p a {
  font-weight: bold;
}

.reset {
  font-size: 16px;
  font-family: var(--font-poppins);
  color: #072cba;
  margin-bottom: 60px;
  cursor: pointer;
}
