.error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  padding: 3px;
  margin: 10px 0;
  font-family: var(--font-poppins);
  display: flex;
  justify-content: center;
  text-align: center;
}
