.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.h1 {
  font-family: "Englebert", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 20px;
  color: #072cba;
  text-align: center;
  line-height: 1.3;
}

.text {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.3;
  margin: 0 10px;
}

.img {
  width: 320px;
  height: 400px;
  margin: 10px;
}

.aboutMe p {
  font-size: 16px;
  font-family: "Poppins", "sans-serif";
  line-height: 1.5;
  margin: 10px;
}
