.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard h1 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 120px;
  margin-bottom: 10px;
}

.button {
  margin-bottom: 60px;
  background-color: var(--color-white);
  border-style: hidden;
  font-size: 16px;
  text-decoration: underline;
  color: var(--color-primary);
  font-family: var(--font-englebert);
  cursor: pointer;
}

.img {
  margin-bottom: 40px;
}
