@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Alice&family=Poppins:ital,wght@0,400;0,700;0,900;1,700&family=Englebert&family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Roboto", "Alice", "Englebert", serif, sans-serif;
}
